<button>Sign Up</button>
<button (click)="gotoLogin()">Login</button>
<header style="background-color: #f1f1f1; padding: 10px; text-align: center; font-weight: bold; font-size: 20px;">
  <h2>Welcome to Kishan Mandi App</h2>

</header>

<nav style="background-color: #5bf1b5; padding: 8px;">
  <span style="font-weight: bold;"></span>

  <section class="ticker-container">
    <div class="ticker">
      <span>🌾 धान ₹2200 ↑ </span>
      <span>🌾 गेहूं ₹2100 ↓ </span>
      <span>🌾 बाजरा ₹1800 ↑</span>
      <span>🌾 चना ₹4700 ↑</span>
      <span>🌾 मूंग ₹6300 ↓</span>
      <span>🌾 अरहर ₹6200 ↑</span>
      <span>🌾 ज्वार ₹2000 ↓</span>
      <span>🌾 मक्का ₹1600 ↑</span>
      <span>🌾 सोयाबीन ₹4800 ↓</span>
      <span>🌾 सरसों ₹5500 ↑</span>
    </div>
  </section>



  <main style="display: flex; justify-content: space-between; padding: 20px; background-color: #faeeae;">



    <section style="width: 25%; background-color: #88eb88; padding: 10px; border-radius: 10px;">
      <h3>👨‍🌾 Buyers</h3>
      <ul>
        <li>Retail Buyer</li>
        <li>Wholesale Buyer</li>
        <li>Exporter</li>
      </ul>
    </section>
    <section style="width: 40%; text-align: center;">
      <img
        src="assets/images/Modi.webp"
        alt="Narendra Modi" width="250" style="border-radius: 15px;" />
    </section>


    <section style="width: 25%; background-color: #f4c2c2; padding: 10px; border-radius: 10px;">
      <h3>🚜 Sellers</h3>
      <ul>
        <li>Farmer</li>
        <li>Agricultural Company</li>
        <li>Local Dealer</li>
      </ul>
    </section>

  </main>










  
